<%
  title = 'ランダム編成@アイギス'
	color_main = '#007bff'  # blue
	color_main = '#28a745'  # green
  color_main = '#343a40'  # dark
	color_sub  = '#007bff'  # blue
  ga_id      = 'UA-54272662-18'
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <style>
    body{
      margin: 0;
    }
    header{
      height: 40px;
      margin-bottom: 20px;
      background-color: #e9ecef;
      border-bottom: 1px solid #e9ecef;
    }
    .header_container{
      width: 965px;
      height: 40px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    h1{
      margin: 0;
      font-size: 1rem;
      color: <%= color_main %>;
    }
    #menu{
			display: flex;
			align-items: center;
      margin-left: auto;
    }
    .menu_item{
      display: flex;
			align-items: center;
      padding-right: 0.75rem;
    }
		input[type="range"] {
			-webkit-appearance: none;
			appearance: none;
			background-color: #eaeaea;
			background-color: #999;
			height: 2px;
			// width: 100%;
      width: 80px;
			border-radius: 6px;
		}
		input[type="range"]:focus,
		input[type="range"]:active {
			outline: none;
		}

		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;
			position: relative;
			width: 22px;
			height: 22px;
			display: block;
			background-color: #07be19;
			background-color: <%= color_main %>;
			border-radius: 50%;
			-webkit-border-radius: 50%;
		}
    #member_cnt_value{
      width: 1rem;
      padding-left: 0.25rem;
    }
    #menu i{
      color: <%= color_main %>;
      cursor: pointer;
    }
    #menu i:hover{
      color: <%= color_sub %>;
    }
    main{
      width: 965px;
      margin: 0 auto;
      padding: 0;
    }
    footer{
      height: 300px;
    }
    #screen{
      position: relative;
    }
    .bg{
      width: 960px;
      height: 640px;
      background-image: url('img/bg.jpg');
      background-size: cover;
    }
    .icon{
      position: absolute;
    }
    <% 0.upto(MEMBER_MAX - 1) do |i| %>
      .icon<%= i %>{
        top:  <%= 110 + (i / 5) * 116 %>px;
        left: <%= 303 + (i % 5) * 112 %>px;
      }
    <% end %>
    .invisible{
      display: none;
    }
    #comment{
      margin: 0;
      text-align: right;
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= ga_id %>');
  </script>
</head>
<body>
  <header>
    <div class="header_container">
      <h1><%= title %></h1>
      <div id="menu">
        <div class="menu_item">
          <input type="range" id="member_cnt" name="member_cnt" value="15" min="1" max="20" step="1">
          <span id="member_cnt_value">15</span>
        </div>
        <div class="menu_item">
          <i id="play" class="far fa-play-circle fa-2x"></i>
        </div>
        <div class="menu_item">
          <a href="javascript: void(0)" id="save" ><i class="far fa-save fa-2x"></i></a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div id="screen">
      <div class="bg"></div>
      <% lists[0..(MEMBER_MAX - 1)].each_with_index do |list, i| %>
        <div class="icon icon<%= i %> invisible"><img id="img_icon<%= i %>" src="<%= list[0] %>" alt="<%= list[1] %>"></div>
      <% end %>
    </div>
    <img id="img_aiu" src="" alt="">
    <p id="comment">第3回人気闘兵キャラが対象です。 限定・衣装違いは対象外となります。</p>
  </main>
  <footer>
  </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js'></script>
  <script>
    let json_lists = <%= json_lists %>
  </script>
  <script>
    document.getElementById('play').addEventListener('click', function(){
      /* for check part
      let img = document.getElementById('img_aiu')
      let idx = getRandomIndex()
      img.src = json_lists[idx][0]
      img.alt = json_lists[idx][1]
      */

      // reset .invisible
      for(let i = 0; i < <%= MEMBER_MAX %>; i++){
        let icon = document.getElementsByClassName('icon')[i]
        if(!icon.classList.contains('invisible')){
          icon.classList.add('invisible')
        }
      }

      // pickup random icons index
      let cnt = document.getElementById('member_cnt').value
      let idxes = []
      while(true){
        let idx = getRandomIndex()
        if(idxes.includes(idx) == false){
          idxes.push(idx)
        }
        if(idxes.length == cnt){
          break
        }
      }
      // console.log(idxes)

      for(let i = 0; i < cnt; i++){
        let icon = document.getElementsByClassName('icon')[i]
        // invisible -> visible
        icon.classList.remove('invisible')

        let img = document.getElementById('img_icon' + i)
        let idx = idxes[i]
        img.src = json_lists[idx][0]
        img.alt = json_lists[idx][1]
      }
    })

    // get random icons index
    function getRandomIndex(){
      return Math.floor(Math.random() * json_lists.length)
    }


    document.getElementById('save').addEventListener('click', function(){
      html2canvas(document.querySelector('#screen'), {
        onrendered: function(canvas){
          let img_url = canvas.toDataURL('image/png')
          // console.log(img_url)
          // let img_png = img_url.replace('image/png', 'image/octet-stream')
          // document.getElementById('save').href     = img_url
          // document.getElementById('save').download = 'screenshot.png'

          // create temporary <a> for download
          let link = document.createElement('a')
          document.body.appendChild(link)
          link.download = 'screenshot.png'
          link.href = img_url
          // link.target = '_blank'
          link.click()
          link.remove()
        }
      })
    })
    
    document.getElementById('member_cnt').addEventListener('input', function(){
      let member_cnt = document.getElementById('member_cnt').value
      let element = document.getElementById('member_cnt_value')
      element.innerHTML = member_cnt
    })
  </script>
</body>
</html>
